<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.scu.gsgapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="edu.scu.gsgapp.permission.C2D_MESSAGE"/>
    <permission android:name="edu.scu.gsgapp.permission.C2D_MESSAGE" android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application android:name=".GsgApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".messaging.EventStateServerPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">

            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="edu.scu.gsgapp"/>
            </intent-filter>
        </receiver>

<!-- TODO: add service
        <service
            android:name=".service.MemberInvitationTimerService"
            android:exported="false" >
        </service>
-->

        <activity android:name=".activity.TestEventActivity"
            android:label="@string/title_propose_event"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.RegisterActivity"
            android:label="@string/title_register_display_message"
            android:parentActivityName=".activity.LoginActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LoginActivity" />
        </activity>

        <activity android:name=".activity.DashboardActivity"
            android:label="@string/title_dashboard_display_message"
            android:parentActivityName=".activity.LoginActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LoginActivity" />
        </activity>

        <activity android:name=".activity.ProposeEventActivity"
            android:label="@string/title_propose_event"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name=".activity.EventDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
